{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="row">
        <h1>ToDos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">priority</th>
                        <th scope="col">Active</th>
                        <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.id }}</td>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.description }}</td>
                            <td>{{ todo.priority }}</td>
                            <td>{{ todo.is_active }}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'upd_todo' todo.pk %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'del_todo' todo.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'add_todo' %}" type="button" class="btn btn-success">New task</a></button>
    </div>
{% endblock %}